<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoDeployDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>29</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>93D75610A4B25A3157A164E090C2BC19AB58D611</string>
				<key>dateExpires</key>
				<string>10/11/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T2U7L79925.com.azilen.iostest</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T2U7L79925</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AutoDeployDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f067e6bc-9652-441e-b1ce-ce86e59a0ec3</string>
				<key>dateExpires</key>
				<string>10/11/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.azilen.iostest</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T2U7L79925</string>
				<key>name</key>
				<string>Azilen Technologies Pvt Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
